<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div th:insert="fragments/header :: modelheader"></div>
<div class="container">
    <div class="alert alert-danger" th:errors="${clientePF.*}"></div>
    <form th:action="${clientePF.id == null} ? @{/clientepf/save} : @{/clientepf/update}" th:object="${clientePF}" method="POST">

        <div class="form-row">
            <input type="hidden" th:field="*{id}">
            <div class="col">
                <input type="text" class="form-control" placeholder="Nome" th:field="*{nome}">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="CPF" th:field="*{cpf}">
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <button type="submit" class="btn btn-primary" style="margin: 5px;">Cadastrar</button>
            </div>
        </div>
    </form>
</div>

<div th:insert="fragments/footer :: modelfooter"></div>